
@{
    ViewData["Title"] = "Index";
}

<h2>Administracion</h2>
<p>Antes de continuar les adverimos que esta seccion esta diseñada especialmente para el personal con autorizacion 
	para poder hacer cambios en el servicio al cliente, en caso de que alguien sin la autorizacion adecuada entre 
	en todo caso por favor les pedimos que salga y no entre en esta seccion.</p>
<p>En caso de que usted sea un usuario autorizado para realizar cambios en el listado del supermercado denle clik al boton del listado.</p>

<div class="Container" style="margin-top:20px;">
	<a href="Administracion/Add" class="btn btn-primary" style="margin-top:10px; margin-bottom:20px;">Listado</a>
	<div class="row col">
